body {
	background: url(http://www.aleara.pl/images/bg.jpg) repeat;
	 
  
	font-family: sans-serif;
}

#forum {
  
	position: absolute;
	top:363px;
	left:460px;
}

#bans {
	position: absolute;
	top:10px;
	left:10px;
}

#shop {
	position: absolute;
	top:290px;
	left:905px;
}

#banner {
	position: absolute;
	top:370px;
	left:905px;
}


#foother {
	background: url(../images/foother.png) repeat;
	width:100%
	height:45;
	position:absolute;
	top:500px;
	
}
