#reklama {
    margin-top: 100px;

}

#rejestracja_form {
    margin-top: 40px;
}

#facebook {
    margin-top: 100px;
    margin-left: 48px;
}
#ogrze {
    margin-top: -80px;
    margin-left: 0px;
}
#wiesci {
    margin-top: 0px;
    margin-left: 0px;
}
#online {
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 10px;
    scrollbar-face-color: #E8E8DA;
    scrollbar-highlight-color: #676633;
    scrollbar-shadow-color: #676633;
    scrollbar-3dlight-color: #E8E8DA;
    scrollbar-arrow-color: #676633;
    scrollbar-track-color: #E8E8DA;
    scrollbar-darkshadow-color: #E8E8DA;
    scrollbar-base-color: #E8E8DA;
}
#stopka {
    margin-top: 0px;
    margin-left: 0px;
}
#staty {
    margin-top: -20px;
    margin-left: 0px;
}

#gorne_menu {
    margin-top: 20px;
    margin-left: 290px;
    text-align: center;
}

#gorne_menu a {
    color: #FFFFCC;
    margin-left: 5px;
}

#gorne_menu a:hover {
    color: #B00000;
}