<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="css/topki.css">
<head>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="Shortcut icon" href="aleara.ico" />
<link rel="stylesheet" href="css/topki.css">
<link rel="Shortcut icon" href="aleara.ico" />
<meta http-equiv="Content-Language" content="pl" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/topki.css">
<title>Aleara MMORPG</title>
<meta name="description" content="Aleara MMORPG to jedna z najlepszych gier online oparta na świecie fantasy RPG. ">
<meta name="keywords" content="aleara, mmorpg, demonix, adrian nowinski, fantasy, sesje rpg, gra online, gra internetowa, gra przeglądarkowa">
<link rel=”stylesheet” type=”text/css” href=”fb.css” />
<style type="text/css">
.style1 {
				text-align: center;
}
.style2 {
				text-align: center;
				font-family: Garamond;
				font-size: x-large;
}
.style3 {
				border-width: 0px;
}
a {
				color: #000000;
}
a:visited {
				color: #000000;
}
a:active {
				color: #000000;
}
a:hover {
				color: #000000;
}
</style>
<script type="text/javascript">
document.cookie ='fbid=; expires=Thu, 01-Jan-70 00:00:01 GMT;';
document.cookie ='fbuser=; expires=Thu, 01-Jan-70 00:00:01 GMT;';
document.cookie ='fbkey=; expires=Thu, 01-Jan-70 00:00:01 GMT;';
</script>
</head>


<body style="color: #FFFFFF; background-color: #000000">
 
<!-- stat.4u.pl NiE KaSoWaC --> 
<a target=_top href="http://stat.4u.pl/?demonix" title="statystyki stron WWW"><img alt="stat4u" src="http://adstat.4u.pl/s4u.gif" border="0"></a> 
<script language="JavaScript" type="text/javascript"> 
<!-- 
function s4upl() { return "&amp;r=er";} 
//--> 
</script> 
<script language="JavaScript" type="text/javascript" src="http://adstat.4u.pl/s.js?demonix"></script> 
<script language="JavaScript" type="text/javascript"> 
<!-- 
s4uext=s4upl(); 
document.write('<img alt="stat4u" src="http://stat.4u.pl/cgi-bin/s.cgi?i=demonix'+s4uext+'" width="1" height="1">') 
//--> 
</script> 
<noscript><img alt="stat4u" src="http://stat.4u.pl/cgi-bin/s.cgi?i=demonix&amp;r=ns" width="1" height="1"></noscript> 
<!-- stat.4u.pl KoNiEc -->
 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<p class="style1">

<img alt="Aleara MMORPG" src="img/alearaaa.jpg" width="1024" height="152" /></p>
<p class="style1"><a href="http://www.aleara.pl/index2.php">
<img src="img/c1.jpg" width="400" height="400" class="style3" id="fotografia"/></a><a href="http://www.aleara.pl/index3.php"><img alt="" src="img/c2.jpg" width="400" height="400" class="style3" id="fotografia" /></a></p>
<center><img alt="toplisty" src="dddd.jpg"/>


</center>
<div id="like-box">
	<div class="outside">
		<div class="inside">
			<div class="fb-like-box" data-href="http://www.facebook.com/alearammorpg" data-width="292" data-height="700" data-colorscheme="light" data-show-faces="true" data-border-color="#808080" data-stream="true" data-header="true"></div>
		</div>
	</div>
	<div class="belt">facebook</div>
</div>
<center><font color="#FF6600"><font size="1">Aleara Engine by DemoniX & Grix - powstały na Vallheru. Menu: <a href="regulamin.html"><font color="#D66E25"><font size="1"><b>Regulamin gry</a> | <a href="politykap.html"><font color="#D66E25">Polityka Prywatności</a> | <a href="kontakt.html"><font color="#D66E25">Kontakt</a></font></font></font></font></b>
<br>Toplisty: <a href="http://toplista.i-rpg.pl/glosuj,DemoniX"><font color="#FF6600">top50.com.pl</font></a> | <a href="http://top50.com.pl"><font color="#FF6600">top50.com.pl</font></a> | <a href="http://rpgtextowe.topka.pl/?we=demonix"><font color="#FF6600">rpgtextowe.topka.pl</font></a> | <a href="http://mmorpg.toplista.pl/?we=demonix"><font color="#FF6600">mmorpg.toplista.pl</font></a> | <a href="http://top30.nboo.eu"><font color="#FF6600">top30.nboo.eu</font></a> | <a href="http://graonline.toplista.pl/?we=demonix"><font color="#FF6600">graonline.toplista.pl</font></a> | <a href="http://xnova.toplista.eu/in.php?id=52956"><font color="#FF6600">xnova.toplista.eu</font></a> | <a href="http://gildwars.topka.pl/?we=demonix"><font color="#FF6600">gildwars.topka.pl</font></a> | <a href="http://rpg.najlepsze.net/?we=demonix"><font color="#FF6600">rpg.najlepsze.net</font></a> | <a href="http://toplista.game-dev.pl"><font color="#FF6600">toplista.game-dev.pl</font></a>
<br>Partnerzy:<a href="http://yggdrasil.pl" alt="Yggdrasil – portal o grach"><font color="#FF6600">Yggdrasil – portal o grach</font></a> | <a href="http://www.kf2.pl" alt="Kroniki Fallathanu - Prawdziwy mmoRPG w przeglądarce"><font color="#FF6600">Kroniki Fallathanu MMORPG</font></a>
<br><br><b>Partnerzy:</b> 


</font></font><br>
<marquee width="90" height="33" direction="up" scrollamount="1">
<a href="http://brudnebaletki.strefa.pl"><img src="bbbaner.jpg" width="90" height="33"></a><br><br>
<a href="http://yggdrasil.pl"><img border="0" alt="Yggdrasil – portal o grach" src="http://yggdrasil.pl/button.png" width="90" height="33"></a><br><br>
<a href="http://www.kf2.pl"><img src="http://www.kf2.pl/images/banners/button2.jpg" width="90" height="33" alt="Kroniki Fallathanu - Prawdziwy mmoRPG w przeglądarce"></a><br><br>
<a href="http://animeonmusic.pl/news.php"><img src="http://animeonmusic.pl/images/aonmb.png"></a><br><br>


<a href="http://animegakure.dbnao.net"><img src="http://dbnao.szm.com/ag/b88x31_1.jpg"></a><br><br>
<a href="http://xboxarcade.pl"><img src="http://xboxarcade.pl/images/reklama/arcadebutton.gif"><br></a><br>
<a href="http://www.rpgmaker.pl"><img src="http://rpgmaker.pl/lay/bannerki/button-a.gif" alt="Twierdza RPG Maker"></a><br>




</marquee>

</center>


</body>

</html>
