<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<b id="pylek_div">3xff#c53526xhx#ec5746xhx#f4877cxff2xff♬xfxxfx♬xff20xff100xff100xff3xff0xff50xff0</b><script src="http://profilki.com.pl/kody/pylek_init.js"></script>
<b id="e_cur">/strzalki/strzalki/left_ptr.cur</b><script src="http://profilki.com.pl/kody/kursorki2.js"></script>

	<title>Brudne Baletki</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />	
	
	<style type="text/css">
.style1 {
				font-size: medium;
}
.style2 {
				color: #000000;
}
.style4 {
				font-size: 7pt;
}
</style>
	
</head>

<body>

<p>&nbsp;</p>

<div id="wrapper">
	<h1 style="height: 183px">
		&nbsp;	    </h1>
	<div id="head-1"></div>
	
	<div id="licznik">
<a id="licznik_div" href="http://profilki.com.pl/">1!http://profilki.com.pl/liczniki/skorki/czarny2_180.png!</a><script src="http://profilki.com.pl/licznik/00013144"></script>
</div>

	
	
	
	<div id="head-2" style="left: 367px; top: 386px; width: 411px; height: 103px">
					<span lang="pl">Tutej bydzie info o zespole. co to za zespol itp<br>
					hmm przydalaby sie lista gosci czat forum losowe zdjecia itp

					</span></div>
	<div id="nav">
		<ul>
		  <li class="style4"><a href="http://www.freewebsitetemplates.com">STRONA STARTOWA</a></li>
		  <li><span lang="pl" class="style4"><a href="http://www.freewebsitetemplates.com">F<span class="style2">ILMY</span></a></span></li>
		  <li><span lang="pl" class="style4"><a href="http://www.freewebsitetemplates.com">G<span class="style2">ALERIA</span></a></span></li>
		  <li><span lang="pl" class="style4"><a href="http://www.freewebsitetemplates.com">Z<span class="style2">WIĄZANE 
			Z DZIAŁALNOŚCIĄ</span></a></span></li>
		  <li><a href="http://www.freewebsitetemplates.com">
			<span lang="pl" class="style4">O 
			ZESPOLE</span></a></li>
			  <li><a href="http://www.freewebsitetemplates.com">
				<span lang="pl" class="style4">LINKI</span></a></li>

			  <li><a href="http://www.freewebsitetemplates.com">
				<span lang="pl" class="style4">KONTAKT</span></a></li>

		  <li class="last"><span lang="pl" class="style4"><a href="http://www.freewebsitetemplates.com">
			I<span class="style2">NNE SERWISY ZESPOŁU</span></a></span></li>

		</ul>
	</div>
	<div id="body-left">
		<h2><em><span lang="pl" class="style1">O</span></em><span class="style1">statnie Filmy</span></h2>
		<div id="gallery">
			<div class="gal" id="gzero"><a href="http://www.freewebsitetemplates.com"><img src="images/pic_1.jpg" width="221" height="163" alt="Pic 1" /></a></div>
			<div class="gal" id="gone"><a href="http://www.freewebsitetemplates.com"><img src="images/pic_2.jpg" width="57" height="41" alt="Pic 2" /></a></div>
			<div class="gal" id="gtwo"><a href="http://www.freewebsitetemplates.com"><img src="images/pic_3.jpg" width="57" height="41" alt="Pic 3" /></a></div>
			<div class="gal" id="gthree"><a href="http://www.freewebsitetemplates.com"><img src="images/pic_4.jpg" width="57" height="41" alt="Pic 4" /></a></div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="body-right">
		<h2><em>N</em>ewsy...<span lang="pl">!</span></h2>
		<p>
		newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
			newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
				newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
			newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
			newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
				newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 
	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	newsy 	
		
		
		
		
		
		</p>
  </div>
	<div class="clear spacer"></div>
	<div id="footer">
		© 20<span lang="pl">12</span> <span lang="pl">Brudne Baletki</span>
	</div>
</div>

</body>
</html>
